<section id="contact">
    <div class="container">
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-4 md-pb">
                <div class="card-wrapper">
                    <div class="card-box text-left">
                        <app-icon class="mbr-iconfont-big text-align-left" icon="mobile-alt" />
                        <div class="iconfont-wrapper">
                            <app-icon class="mbr-iconfont contact-padding" icon="phone" />
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7">
                          <strong>Phone</strong>
                        </h5>
                        <a class="emphasis-color" href="tel:{{this.phone()}}">{{this.phone()}}</a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4 md-pb">
                <div class="card-wrapper">
                    <div class="card-box text-left">
                        <app-icon class="mbr-iconfont-big" icon="envelope-open" />
                        <div class="iconfont-wrapper">
                            <app-icon class="mbr-iconfont contact-padding" icon="envelope" />
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7">
                          <strong>Email</strong>
                        </h5>
                        <a class="emphasis-color" href="mailto:{{this.email()}}">{{this.email()}}</a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4 md-pb">
                <div class="card-wrapper">
                    <div class="card-box text-left">
                        <app-icon class="mbr-iconfont-big" icon="globe" />
                        <div class="iconfont-wrapper">
                            <app-icon class="mbr-iconfont contact-padding" icon="map-pin" />
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7">
                          <strong>Address</strong>
                        </h5>
                        @for ( address of this.address(); track address ) {
                            <p class="card-text mbr-fonts-style display-4">{{address}}</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>