#contact .card-box {
	z-index: 2;
	position: relative;
}

#contact .mbr-iconfont {
	font-size: 2rem;
	color: #ffffff;
	background: #3399ff;
	width: 80px;
	padding: 10px;
	border-radius: 6px;
	text-align: center;
}

#contact .mbr-iconfont-big {
	font-size: 10rem;
	color: #3399ff;
	position: absolute;
	right: -4rem;
	top: -3rem;
	z-index: -1;
	transition: all 0.6s;
	opacity: 0.3;
}

#contact .card-title,
#contact .card-text {
	transition: all 0.3s;
}

#contact .card-wrapper {
	position: relative;
	overflow: hidden;
	border-radius: 6px;
	padding: 4rem 3rem;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
	transition: all 0.3s;
  background-color: var(--bs-secondary-bg);
}

#contact .card-wrapper:hover .mbr-iconfont-big {
	transform: rotate(-20deg);
}

#contact .card-title,
#contact .iconfont-wrapper {
  color: var(--bs-emphasis-color);
}

#contact .card-text {
  color: var(--bs-emphasis-color);
}

#contact .mbr-section-title {
	color: #ffffff;
	text-align: center;
}

#contact {
	padding-top: 5rem;
	padding-bottom: 5rem;
  background-color: var(--bs-body-bg-rgb);
  border-bottom: 2px solid var(--bs-border-color);
}

#contact .iconfont-wrapper {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.contact-padding {
	padding-left: 20px;
	padding-right: 20px;
}