<div class="readmore-block">
  @if (subtitle()) {
    <h3 class="readmore-subtitle">{{subtitle()}}</h3>
  }
  <p class="readmore-content">
    @if (content().length > this.MAXLENGTH && this.showReadMore()) {
      @if (expanded()) {
        {{content()}}
      } @else {
        {{getCutString()}}
      }
      <button class="readmore-toggle" (click)="expand()">
        {{expanded() ? 'Collapse' : 'Expand'}}
      </button>
    } @else {
      {{content()}}
    }
  </p>
  @if (fileName() && fileURL()) {
    <div class="readmore-btn-wrapper">
      <a class="btn btn-primary border-radius-100" [href]="fileURL()">{{fileName()}}</a>
    </div>
  }
</div>
