@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";

@import "bootstrap/scss/transitions";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/close";
@import "bootstrap/scss/carousel";

@import "bootstrap/scss/buttons";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/card";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

section, .container {
  position: relative;
  word-wrap: break-word;
}

section {
  background: #fff no-repeat 50% 50% / cover;
}

h1, h2, h3, h4, h5, h6,
.display-1, .display-2, .display-4, .display-5, .display-7,
span, p, a {
  line-height: 1;
  word-break: break-word;
  font-weight: 400;
}

.mbr-section-title, .mbr-section-subtitle { line-height: 1.3; }
.mbr-text { line-height: 1.7; }

.display-1 { font-size: 3.7rem; line-height: 1.1; }
.display-2 { font-size: 3rem; line-height: 1.1; }
.display-4 { font-size: 1.1rem; line-height: 1.5; }
.display-5 { font-size: 2rem; line-height: 1.5; }
.display-7 { font-size: 1.2rem; line-height: 1.5; }

@media (max-width: 992px) {
  .display-1 { font-size: 2.96rem; }
  .md-pb { margin-bottom: 2rem; }
}

@media (max-width: 768px) {
  .display-1 { font-size: calc(1.945rem + 1.755 * ((100vw - 20rem) / 28)); }
  .display-2 { font-size: calc(1.7rem + 1.3 * ((100vw - 20rem) / 28)); }
  .display-5 { font-size: calc(1.35rem + 0.65 * ((100vw - 20rem) / 28)); }
}

.btn {
  font-weight: 600;
  padding: 0.6rem 2rem;
  margin: 0.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  border-radius: 0;
}

button {
	background-color: transparent;
	border-color: transparent;
}

a {
	font-style: normal;
	font-weight: 400;
	cursor: pointer;
}

.mbr-section-btn a.btn:not(.btn-form) { border-radius: 100px; }

.btn-primary {
  &, &:active, &:hover, &:focus {
    background-color: #3399ff !important;
    border-color: #3399ff !important;
    color: #fff !important;
  }
  &:hover, &:focus { box-shadow: #3399ff 2px 2px 20px 0px; }
}

a {
  color: #3399ff;
  transition: color 0.6s;
  text-decoration: none;
  &:hover { color: #3399ff; }
}

.mbr-overlay {
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0.5;
  pointer-events: none;
}

.card { background: transparent; border: none; }

.header {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-image: url("/api/img/header.jpg");
	background-size: cover;
	background-position: center;
}

.header .mbr-section-title {
	color: #ffffff;
}

.header .mbr-text,
.header .mbr-section-btn {
	color: #bbbbbb;
}

.header img {
	border-radius: 2rem;
}

.header .mbr-section-subtitle {
	color: #3399ff;
}