<footer id="footer" class="footer position-relative secondary-color">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center" (click)="goToAuthor()">
      <img src="/api/img/author.jpg?w=640&f=webp"
        srcset="
            /api/img/author.jpg?w=320&f=webp 320w,
            /api/img/author.jpg?w=640&f=webp 640w,
            /api/img/author.jpg?w=1024&f=webp 1024w
        "
        loading="lazy"
        decoding="async"
        alt="Matthew Frankland"
        class="clickable author-link border border-2 border-primary"
      />
    </div>
    <div class="credits mt-2">
      <div class="copyright">
        <span>
          {{copyrightNotice()}}
        </span>
      </div>
      Designed by <a href="https://matthewfrankland.co.uk" class="sitename">Matthew Frankland</a>.
    </div>
  </div>
</footer>