.sacrament-overlay {
  background-color: var(--bs-body-bg);
  border-bottom: 2px solid var(--bs-border-color);
}

.sacrament-container-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sacrament-image-radius {
  border-radius: 2rem;
}