.sacrament-overlay-1 {
  background-color: var(--bs-body-bg);
}

.sacrament-overlay-2 {
  background-color: var(--bs-secondary-bg);
}

.sacrament-container-margin {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sacrament-image-radius {
  border-radius: 2rem;
}