<nav class="navbar navbar-expand-sm h-100" style="background-color: #3399ff;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed()">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link link show display-4" (click)="goTo('')" [style.font-weight]="currentPage() == '' ? 'bold' : ''">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link show display-4" (click)="goTo('sacraments')" [style.font-weight]="currentPage() == 'sacraments' ? 'bold' : ''">
            Sacraments
          </a>
        </li>
        <li class="nav-item">
          <button class="nav-link link display-4" (click)="goTo('', 'sunday-mass')" [disabled]="currentPage() != ''">
            Mass Times
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link link display-4" (click)="goTo(currentPage(), 'contact')">
            Contacts
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>