.nav-link:hover:not(:disabled) {
  color: black !important;
  cursor: pointer;
  background-color: rgba(black, 0.1) !important;
}

.nav-link:disabled {
  color: rgba(white, 0.5) !important;
  cursor: not-allowed;
  background-color: transparent !important;
}

.nav-link.active {
  color: black !important;
  background-color: rgba(black, 0.1) !important;
}

.nav-link {
  color: white !important;
}

.navbar {
  background-color: #3399ff !important;
}