.scroll-container {
  background-color: #333;
  white-space: nowrap;
  padding: 10px;
  flex-direction: row;
  display: flex;
  overflow-y: scroll;
}

div.scroll-container img {
  padding: 10px;
}

div.scroll-container img:hover {
  transform: scale(1.05);
  transition: all 1s;
}

.img-expand {
  max-width: 600px;
  max-height: 400px;
  object-fit: contain;
  cursor: pointer;
  border-radius: 20px;
}

.soc-item {
	width: 40px;
	height: 40px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	margin: 0 5px;
	background: #3399ff;
}

.social-list {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .social-list {
    justify-content: center;
  }
}