<div class="container mass-times-container" id="sunday-mass">
  <div class="row sunday-times-padding-bottom">
    <h3 class="mbr-section-title mbr-fonts-style text-center mb-0 display-2 emphasis-color">
      <strong>Normal Sunday Mass Times</strong>
    </h3>
    <h5 class="mass-confession-info emphasis-color">
      Times may vary, please see our Newsletter for more information.
    </h5>
    <h5 class="mass-confession-info emphasis-color">
      Confessions are heard 30 minutes before every Mass.
    </h5>
    <div class="d-flex justify-content-center w-100 mt-2">
      <a href="https://universalis.com/mass.htm" class="w-100 max-width-500">
        <img src="https://universalis.com/banner.gif" alt="Universalis Mass Readings" class="w-100">
      </a>
    </div>
  </div>
  <div class="row justify-content-center">
    @for ( time of this.massTimes(); track time.church ) {
      <div class="card col-12 col-md-6 col-lg-4 md-pb">
        <div class="card-wrapper">
          <div class="card-box text-left">
            <div class="iconfont-wrapper churches-margin-bottom">
              <app-icon class="card-title mb-4 emphasis-color" icon="church" iconSize="3x" />
            </div>
            <h5 class="card-title mbr-fonts-style display-7">
              <strong>{{time.church}}</strong>
            </h5>
            <p class="card-text mbr-fonts-style display-7">{{time.time}}<br></p>
          </div>
        </div>
      </div>
    }
  </div>
</div>