.header {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-image: url("/assets/img/hawick/header.jpg");
	background-size: cover;
	background-position: center;
}
.header .mbr-section-title {
	color: #ffffff;
}
.header .mbr-text,
.header .mbr-section-btn {
	color: #bbbbbb;
}
.header img {
	border-radius: 2rem;
}
.header .mbr-section-subtitle {
	color: #3399ff;
}