<div class="mbr-overlay overlay-background"></div>
<div class="header-component">
  <div class="page-header page-header-small">
    <div class="page-header-image"></div>
    <div class="container">
      <div class="content-center">
        <div class="profile-image">
          <a href="/">
            <img src="/api/img/highlight.jpg"
              srcset="
                  /api/img/highlight.jpg?w=320&f=webp 320w,
                  /api/img/highlight.jpg?w=640&f=webp 640w,
                  /api/img/highlight.jpg?w=1024&f=webp 1024w
              "
              loading="lazy"
              decoding="async"
              alt="Highlight Image"
              class="object-fit-cover"
            />
          </a>
        </div>
        <div class="h2 title">{{error}}</div>
        <p>{{description}}</p>
        <div class="d-flex justify-content-center gap-2 flex-wrap">
          <a href="/" class="btn btn-lg btn-icon home-icon" rel="tooltip" title="Home">
            <app-icon icon="home" iconSize="lg" />
          </a>
          @for (link of socialLinks; track $index) {
            <a [href]="link.url" target="_blank" [class]="link.class" rel="tooltip" [title]="link.tooltip">
              <app-icon [icon]="link.icon" iconSize="lg" />
            </a>
          }
        </div>
      </div>
    </div>
  </div>
</div>
