.nav-dropdown .link {
	margin: 0.667em 1.667em;
	font-weight: 500;
	padding: 0;
	transition: color 0.2s ease-in-out;
}

section {
	background-color: #ffffff;
}

body {
	font-style: normal;
	line-height: 1.5;
	font-weight: 400;
	color: #232323;
	position: relative;
}

button {
	background-color: transparent;
	border-color: transparent;
}

section,
.container {
	position: relative;
	word-wrap: break-word;
}

a {
	font-style: normal;
	font-weight: 400;
	cursor: pointer;
}

a, a:hover {
	text-decoration: none;
}

.mbr-section-title {
	font-style: normal;
	line-height: 1.3;
}

.mbr-section-subtitle {
	line-height: 1.3;
}

.mbr-text {
	font-style: normal;
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-4,
.display-5,
.display-7,
span,
p,
a {
	line-height: 1;
	word-break: break-word;
	word-wrap: break-word;
	font-weight: 400;
}

strong {
	font-weight: bold;
}

section {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

@media (max-width: 767px) {
	.align-right,
	.align-left {
		text-align: center;
	}
}

img {
	display: block;
	width: 100%;
}

.card {
	background-color: transparent;
	border: none;
}

.card-box {
	width: 100%;
}

.mbr-section-btn {
	margin-left: -0.6rem;
	margin-right: -0.6rem;
	font-size: 0;
}

.btn {
	font-weight: 600;
	border-width: 1px;
	font-style: normal;
	margin: 0.6rem 0.6rem;
	white-space: normal;
	transition: all 0.2s ease-in-out;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	word-break: break-word;
}

@media (max-width: 991px) {
	.menu .navbar-collapse {
		max-height: 93.5vh;
	}
}
@media (min-width: 992px) {
	.menu .navbar-nav.nav-dropdown {
		display: -webkit-flex;
	}
}
@media (max-width: 767px) {
	.menu .navbar-collapse {
		max-height: 80vh;
	}
}

.navbar {
	display: -webkit-flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: center;
	-webkit-justify-content: space-between;
}

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
	-webkit-flex-basis: 100%;
	-webkit-flex-grow: 1;
	-webkit-align-items: center;
}

.nav-dropdown .link {
	padding: 0.667em 1.667em !important;
	margin: 0 !important;
}

.row {
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.justify-content-center {
	justify-content: center;
	-webkit-justify-content: center;
}

.card-wrapper {
	flex: 1;
	-webkit-flex: 1;
}

.navbar-toggler {
	align-self: flex-start;
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
	text-decoration: none;
	box-shadow: none;
}

html,
body {
	height: auto;
	min-height: 100vh;
}

.mbr-overlay {
	background-color: #000;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
	pointer-events: none;
}

ul {
	margin-bottom: 2.3125rem;
}

.mt-4 {
	margin-top: 2rem !important;
}

.mb-4 {
	margin-bottom: 2rem !important;
}

@media (max-width: 992px) {
	.md-pb {
		margin-bottom: 2rem;
	}
}

@media (min-width: 992px) {
	.container {
		padding-left: 16px;
		padding-right: 16px;
	}

	.row {
		margin-left: -16px;
		margin-right: -16px;
	}
	.row > [class*="col"] {
		padding-left: 16px;
		padding-right: 16px;
	}
}
.card-wrapper {
	overflow: hidden;
}

body {
	font-family: "IBM Plex Sans";
}

.display-1 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 3.7rem;
	line-height: 1.1;
}

.display-2 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 3rem;
	line-height: 1.1;
}

.display-4 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 1.1rem;
	line-height: 1.5;
}

.display-5 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 2rem;
	line-height: 1.5;
}

.display-7 {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 1.2rem;
	line-height: 1.5;
}

@media (max-width: 992px) {
	.display-1 {
		font-size: 2.96rem;
	}
}
@media (max-width: 768px) {
	.display-1 {
		font-size: 2.59rem;
		font-size: calc(1.945rem + (3.7 - 1.945) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(
			1.1 * (1.945rem + (3.7 - 1.945) * ((100vw - 20rem) / (48 - 20)))
		);
	}

	.display-2 {
		font-size: 2.4rem;
		font-size: calc(1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(
			1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)))
		);
	}

	.display-4 {
		font-size: 0.88rem;
		font-size: calc(
			1.0350000000000001rem + (1.1 - 1.0350000000000001) *
				((100vw - 20rem) / (48 - 20))
		);
		line-height: calc(
			1.4 *
				(
					1.0350000000000001rem + (1.1 - 1.0350000000000001) *
						((100vw - 20rem) / (48 - 20))
				)
		);
	}

	.display-5 {
		font-size: 1.6rem;
		font-size: calc(1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(
			1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)))
		);
	}

	.display-7 {
		font-size: 0.96rem;
		font-size: calc(1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
		line-height: calc(
			1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)))
		);
	}
}

.btn {
	padding: 0.6rem 2rem;
	border-radius: 0px;
}

.btn-primary,
.btn-primary:active {
	background-color: #3399ff !important;
	border-color: #3399ff !important;
	color: #ffffff !important;
}

.btn-primary:hover,
.btn-primary:focus {
	color: #ffffff !important;
	background-color: #3399ff !important;
	border-color: #3399ff !important;
	box-shadow: #3399ff 2px 2px 20px 0px;
}

.btn-primary:disabled {
	color: #ffffff !important;
	background-color: #4e26ca !important;
	border-color: #4e26ca !important;
}

.text-white {
	color: #fafafa !important;
}

.mbr-section-btn a.btn:not(.btn-form) {
	border-radius: 100px;
}

a, a:hover {
	color: #3399ff;
}

body {
	overflow-x: hidden;
}

a {
	transition: color 0.6s;
}
