.card-wrapper {
	position: relative;
	overflow: hidden;
	padding: 4rem 3rem;
	border-radius: 6px;
	transition: all 0.3s;
  background-color: var(--bs-secondary-bg);
}

.card-wrapper:hover {
	background: #3399ff;
}

.card-wrapper:hover .card-title,
.card-wrapper:hover .card-text {
	color: #ffffff;
}

@media (max-width: 767px) {
	.card-wrapper {
		padding: 2rem 1rem;
	}
}

.card-wrapper {
	flex: 1;
	-webkit-flex: 1;
	overflow: hidden;
}