<section id="priests">
  <div class="container">
    <div class="row justify-content-center">
      @for ( priest of priests; track priest.name ) {
        <div class="col-sm-6 col-lg-6">
          <div class="card-wrap">
            <div class="image-wrap">
              <img [src]="'/assets/img/' + priest.image">
            </div>
            <div class="content-wrap">
              <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                <strong>{{priest.name}}</strong>
              </h5>
              <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                <strong>{{priest.role}}</strong><br/>
                <i>{{priest.residence}}</i>
              </h6>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>